<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLOAT HTML</title>
    <style>
        h1 {
            background-color: aqua;
        }
        img {
            height: 200px;
            width: 100px;
            float: center;
            margin: 10px;
        }
        .p1 {
            clear: left;
        }
    </style>
</head>
<body>
    <img src="/img.png" alt="">
    <h1>Subscribe</h1>
    <p class="p1"> P1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae exercitationem maiores adipisci optio sit repudiandae voluptatum dolore praesentium dolorum quisquam.</p>
    <p class="p2">p2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae exercitationem maiores adipisci optio sit repudiandae voluptatum dolore praesentium dolorum quisquam.</p>
    <p class="p3">p3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae exercitationem maiores adipisci optio sit repudiandae voluptatum dolore praesentium dolorum quisquam.</p>
</body>
</html>