* {
    box-sizing: border-box;
}
body {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 10px;
    background-color: antiquewhite;
}
h1,h3 {
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="month"],
textarea{
    padding: 10px;
    width: 100%;
    background-color: bisque;
}
input[type="submit"] {
    background-color: rgb(36, 255, 36);
    padding: 18px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: rgb(24, 203, 24);
    cursor:pointer;
}
